/* Home Page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #bef7e2;
    height: 100vh;
    color: white;
}

/* Navigation Bar */
nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    display: inline-block; 
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;   
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px 5px;
}

a:hover {
    text-decoration: underline;
    background-color: #029962;
}

/* Description + Profile Image */
.container {
    min-height: 100vh; /*important*/
    width: 90%;
    margin: auto;
    padding: 30px;
    background-color: #018768;
    box-shadow: 0px 0px 10px -2px white;
}

.profileimg {
    width: 25%;
    height: auto;
    float: right;
    margin: 10px 0px 10px 20px;
    box-shadow: 0px 0px 10px 2px #333;
}

#developer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 10px 0px;
    display: block;
}
#description {
    display: block;
}

#quote {
    display: block;
    text-align: center;
    margin-top: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 130%;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    padding: 12px;
}



/* About Page */
#abouthead{
    font-size: 18px;
    padding-bottom: 20px;    
}

.aboutcontent {
    border-top: 1px solid;
    /* padding: 15px 0px; */
    /* overflow: auto; */
}

.contenthead {
    display: block;
    margin: 15px 0px;
}

#contentimg1, #contentimg3 {
    float: right;
}
#contentimg2 {
    float: left;
    margin-right: 15px;
}

#contentimg1, #contentimg2, #contentimg3 {
    width: 25%;
    height: auto;    
}

.contentparagraph {
    display: block;
    margin-bottom: 20px;
}

/* Portfolio page*/
#portfolioheader{
    font-size: 18px;
    padding-bottom: 20px;  
    border-bottom: 1px solid;  
    margin-bottom: 20px;
}

.portfoliocontent {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(254, 250, 243);
    color: black;
    box-shadow: 0px 0px 10px 2px #333;
    overflow: auto;
}

.portfoliohead {
    display: block;
    margin: 15px 0px;
    border-bottom: 1px solid gray;
    font-size: 20px;
}


#portfolioimg1, #portfolioimg3 {
    float: right;
}
#portfolioimg2 {
    float: left;
    margin-right: 15px;
}

#portfolioimg1, #portfolioimg2, #portfolioimg3 {
    width: 25%;
    height: 150px;    
}

.portfolioparagraph {
    display: block;
    margin-bottom: 20px;
}

/*Contact Page*/
#contacthead {
    margin: 40px;
}
#form {
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px #333;
    font-size: large;
    width: 90%;
    margin: auto;
}
#name, #email, #message {
    width: 100%;
    background-color: rgb(237, 237, 237);
    font-size: larger;
    padding: 5px;
}

#submit {
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #333;
}

#submit:hover {
    background-color: rgb(130, 221, 130);
    text-decoration: underline;
}

/*Success Page*/
#successful {
    text-align: center;
    padding: 20px;
}

/*For Smaller Screens */
@media only screen and (max-width: 900px) {
    #portfolioimg1, #portfolioimg2, #portfolioimg3 {
        width: 30%;
        height: 150px;    
    }
}
@media only screen and (max-width: 800px) {
    #portfolioimg1, #portfolioimg2, #portfolioimg3 {
        width: 35%;
    }
}

@media only screen and (max-width: 700px) {
    .profileimg {
        width: 35%;
    }
    #contentimg1, #contentimg2, #contentimg3 {
        width: 35%;
    }
    #portfolioimg1, #portfolioimg2, #portfolioimg3 {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    /* Navigation Bar */
    nav {
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #quote {
        margin-top: 110px;
    }

    #contentimg1, #contentimg2, #contentimg3 {
        width: 45%;
    }
    #portfolioimg1, #portfolioimg2, #portfolioimg3 {
        width: 45%;
    }
    #name, #email, #message {
        font-size:large;
    }
}


/*For Smaller Screens (below 500)*/
@media only screen and (max-width: 500px) {
    /* Navigation Bar */    
    .profileimg {
        width: 70%;
        margin-right: 30%;
    }

    #quote {
        margin-top: 30px;
    }

    #contentimg1, #contentimg2, #contentimg3 {
        width: 100%;
    }
    #portfolioimg1, #portfolioimg2, #portfolioimg3 {
        width: 100%;
        height: auto;
    }
    #name, #email, #message {
        font-size:medium;
    }
}

@media only screen and (max-width: 300px) {
    nav {
        height: auto;
        padding: 10px;
        text-align: center;
    }
    #name, #email, #message {
        font-size:smaller;
    }

}