/* Home Page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #bef7e2;
    height: 100vh;
    color: white;
}

/* Navigation Bar */
nav {
    width: 100%;
    position: sticky;
    top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navh1 h1 {
    /* display: block; */
    float: left;
    padding: 9px;
    background-color: #333;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navli a {
    /* display: block; */
    float: right;
    text-decoration: none;
    padding: 15px;
    background-color: #333;
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

.navli a:hover {
    text-decoration: underline;
    background-color: #029962;
}

/* Description + Profile Image */
.container {
    min-height: 100vh;
    width: 90%;
    margin: auto;
    padding: 30px;
    background-color: #018768;
    box-shadow: 0px 0px 10px -2px white;
}

.profileimg {
    width: 200px;
    height: 250px;
    float: right;
    margin: 10px 0px 10px 20px;
    box-shadow: 0px 0px 10px 2px #333;
}

#developer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 10px 0px;
    display: block;
}
#description {
    display: block;
}

#quote {
    display: block;
    text-align: center;
    margin-top: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 130%;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    padding: 12px;
}



/* About Page */
#abouthead{
    font-size: 18px;
    padding-bottom: 20px;    
}

.aboutcontent {
    border-top: 1px solid;
    /* padding: 15px 0px; */
    /* overflow: auto; */
}

.contenthead {
    display: block;
    margin: 15px 0px;
}

#contentimg1, #contentimg3 {
    float: right;
}
#contentimg2 {
    float: left;
    margin-right: 15px;
}

#contentimg1, #contentimg2, #contentimg3 {
    width: 220px;
    height: 150px;    
}

.contentparagraph {
    display: block;
    margin-bottom: 20px;
}

/* Portfolio page*/
#portfolioheader{
    font-size: 18px;
    padding-bottom: 20px;  
    border-bottom: 1px solid;  
    margin-bottom: 20px;
}

.portfoliocontent {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(254, 250, 243);
    color: black;
    box-shadow: 0px 0px 10px 2px #333;
    overflow: auto;
}

.portfoliohead {
    display: block;
    margin: 15px 0px;
    border-bottom: 1px solid gray;
    font-size: 20px;
}


#portfolioimg1, #portfolioimg3 {
    float: right;
}
#portfolioimg2 {
    float: left;
    margin-right: 15px;
}

#portfolioimg1, #portfolioimg2, #portfolioimg3 {
    width: 220px;
    height: 150px;    
}

